<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1256">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_master}
<table class="runner-c runner-c-master" cellpadding="0" >
<tr class="{$cheaderclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN mastertable_block}
<td  class="runner-cc runner-bl runner-b-masterinfoprint" {$brickclass_masterinfoprint}><span>{$showmasterfile}
</span></td>
{END mastertable_block}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_master}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>{$caption dbo_Anomalies}</h1>
<span>
{BEGIN page_number}
{mlang_message PAGE1} {$pageno} {mlang_message PAGE2} {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN ID_fieldheadercolumn}
<td class="runner-cc">
	{BEGIN ID_fieldheader}
	<b>{$label dbo_Anomalies ID}</b>
	{END ID_fieldheader}
</td>
{END ID_fieldheadercolumn}
	{BEGIN Module_ID_fieldheadercolumn}
<td class="runner-cc">
	{BEGIN Module_ID_fieldheader}
	<b>{$label dbo_Anomalies Module_ID}</b>
	{END Module_ID_fieldheader}
</td>
{END Module_ID_fieldheadercolumn}
	{BEGIN Anomaly_Description_fieldheadercolumn}
<td class="runner-cc">
	{BEGIN Anomaly_Description_fieldheader}
	<b>{$label dbo_Anomalies Anomaly_Description}</b>
	{END Anomaly_Description_fieldheader}
</td>
{END Anomaly_Description_fieldheadercolumn}
	{BEGIN Anomaly_Type_fieldheadercolumn}
<td class="runner-cc">
	{BEGIN Anomaly_Type_fieldheader}
	<b>{$label dbo_Anomalies Anomaly_Type}</b>
	{END Anomaly_Type_fieldheader}
</td>
{END Anomaly_Type_fieldheadercolumn}
	{BEGIN Date_Time_fieldheadercolumn}
<td class="runner-cc">
	{BEGIN Date_Time_fieldheader}
	<b>{$label dbo_Anomalies Date_Time}</b>
	{END Date_Time_fieldheader}
</td>
{END Date_Time_fieldheadercolumn}
	{BEGIN Action_Taken_fieldheadercolumn}
<td class="runner-cc">
	{BEGIN Action_Taken_fieldheader}
	<b>{$label dbo_Anomalies Action_Taken}</b>
	{END Action_Taken_fieldheader}
</td>
{END Action_Taken_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN ID_fieldcolumn}
<td  class="runner-cc" {$ID_style}>
	{$ID_value}
</td>
{END ID_fieldcolumn}
	{BEGIN Module_ID_fieldcolumn}
<td  class="runner-cc" {$Module_ID_style}>
	{$Module_ID_value}
</td>
{END Module_ID_fieldcolumn}
	{BEGIN Anomaly_Description_fieldcolumn}
<td  class="runner-cc" {$Anomaly_Description_style}>
	{$Anomaly_Description_value}
</td>
{END Anomaly_Description_fieldcolumn}
	{BEGIN Anomaly_Type_fieldcolumn}
<td  class="runner-cc" {$Anomaly_Type_style}>
	{$Anomaly_Type_value}
</td>
{END Anomaly_Type_fieldcolumn}
	{BEGIN Date_Time_fieldcolumn}
<td  class="runner-cc" {$Date_Time_style}>
	{$Date_Time_value}
</td>
{END Date_Time_fieldcolumn}
	{BEGIN Action_Taken_fieldcolumn}
<td  class="runner-cc" {$Action_Taken_style}>
	{$Action_Taken_value}
</td>
{END Action_Taken_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN ID_fieldfootercolumn}
<td class="runner-cc "></td>
{END ID_fieldfootercolumn}
{BEGIN Module_ID_fieldfootercolumn}
<td class="runner-cc "></td>
{END Module_ID_fieldfootercolumn}
{BEGIN Anomaly_Description_fieldfootercolumn}
<td class="runner-cc "></td>
{END Anomaly_Description_fieldfootercolumn}
{BEGIN Anomaly_Type_fieldfootercolumn}
<td class="runner-cc "></td>
{END Anomaly_Type_fieldfootercolumn}
{BEGIN Date_Time_fieldfootercolumn}
<td class="runner-cc "></td>
{END Date_Time_fieldfootercolumn}
{BEGIN Action_Taken_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END Action_Taken_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
