<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Name">
	{$Name_editcontrol}
	</control>
	<control 
	field="Father_Name">
	{$Father_Name_editcontrol}
	</control>
	<control 
	field="Address">
	{$Address_editcontrol}
	</control>
	<control 
	field="Contact">
	{$Contact_editcontrol}
	</control>
	<control 
	field="Location">
	{$Location_editcontrol}
	</control>
	<control 
	field="Customer_Type">
	{$Customer_Type_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
