<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		{mlang_message SEARCH_CRITERIA}:&nbsp;
		<input type="radio" name="srchType" {$all_checkbox}>{BEGIN all_checkbox_label}{mlang_message SEARCH_ALL}{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}{mlang_message SEARCH_ANY}{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>{mlang_message SEARCH_ADD_FIELD}</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_ID}
			<a href="#" id="addSearchControl_ID" class="addSearchControl" {$addSearchControl_ID_attrs}>{$label dbo_Customers ID}</a><br>
		{END addSearch_ID}
		{BEGIN addSearch_Name}
			<a href="#" id="addSearchControl_Name" class="addSearchControl" {$addSearchControl_Name_attrs}>{$label dbo_Customers Name}</a><br>
		{END addSearch_Name}
		{BEGIN addSearch_Father_Name}
			<a href="#" id="addSearchControl_Father_Name" class="addSearchControl" {$addSearchControl_Father_Name_attrs}>{$label dbo_Customers Father_Name}</a><br>
		{END addSearch_Father_Name}
		{BEGIN addSearch_Address}
			<a href="#" id="addSearchControl_Address" class="addSearchControl" {$addSearchControl_Address_attrs}>{$label dbo_Customers Address}</a><br>
		{END addSearch_Address}
		{BEGIN addSearch_Contact}
			<a href="#" id="addSearchControl_Contact" class="addSearchControl" {$addSearchControl_Contact_attrs}>{$label dbo_Customers Contact}</a><br>
		{END addSearch_Contact}
		{BEGIN addSearch_Location}
			<a href="#" id="addSearchControl_Location" class="addSearchControl" {$addSearchControl_Location_attrs}>{$label dbo_Customers Location}</a><br>
		{END addSearch_Location}
		{BEGIN addSearch_Customer_Type}
			<a href="#" id="addSearchControl_Customer_Type" class="addSearchControl" {$addSearchControl_Customer_Type_attrs}>{$label dbo_Customers Customer_Type}</a><br>
		{END addSearch_Customer_Type}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</td>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>{mlang_message SEARCH}</a>
		</span>
	</div>
</div>
