<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1256">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" colspan=2><div  class="runner-b-loginheader {$brickclass_loginheader}">{mlang_message LOGIN}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN message_block}
<tr  class="runner-row style3 runner-b-message {$brickclass_message}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{$message}</td><td class="runner-cr"></td></tr>{END message_block}



		<tr class="runner-row style1 runner-b-loginfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			{BEGIN username_label}{mlang_message USERNAME}:{END username_label}
		</td>
		<td class="runner-cc alt">
			<input type="text" name="username" {$username_attrs}>
		</td>
		<td class="runner-cr alt"></td></tr>
		<tr class="runner-row style1 runner-b-loginfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			{BEGIN password_label}{mlang_message PASSWORD}:{END password_label}
		</td>
		<td class="runner-cc alt">
			<input type="password" name="password" {$password_attrs}>
		</td>
		<td class="runner-cr alt"></td></tr>
				{BEGIN languages_block}
		<tr class="runner-row style1 runner-b-loginfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			{BEGIN lang_label}{mlang_message LANGUAGE}:{END lang_label}
		</td>
		<td class="runner-cc alt">
			<select {$langselector_attrs}>
				<option value="English" {$English_langattrs}>English</option>
				<option value="Urdu" {$Urdu_langattrs}>اُردو</option>
			</select>
		</td>
		<td class="runner-cr alt"></td></tr>
		{END languages_block}
		<tr class="runner-row style1 runner-b-loginfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			{BEGIN remember_password_label}{mlang_message REM_PASSWORD}:{END remember_password_label}
		</td>
		<td class="runner-cc alt">
			<input type="checkbox" {$rememberbox_attrs}>
		</td>
		<td class="runner-cr alt"></td></tr>
								


{BEGIN guestlink_block}
<tr  class="runner-row style3 runner-b-mesguest {$brickclass_mesguest}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2><a {$guestlink_attrs} >{mlang_message GUEST}</a>
</td><td class="runner-cr"></td></tr>{END guestlink_block}





<tr  class="runner-row style2 runner-b-loginbuttons {$brickclass_loginbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2><span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$loginlink_attrs}>{mlang_message SUBMIT}</a>
</span>

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
