<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Customer_ID">
	{$Customer_ID_editcontrol}
	</control>
	<control 
	field="Bill_Month">
	{$Bill_Month_editcontrol}
	</control>
	<control 
	field="Previous_Readings">
	{$Previous_Readings_editcontrol}
	</control>
	<control 
	field="Currunt_Readings">
	{$Currunt_Readings_editcontrol}
	</control>
	<control 
	field="Unit_Consumed">
	{$Unit_Consumed_editcontrol}
	</control>
	<control 
	field="Bill_Amount">
	{$Bill_Amount_editcontrol}
	</control>
	<control 
	field="Due_Date">
	{$Due_Date_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
