<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Module_ID">
	{$Module_ID_editcontrol}
	</control>
	<control field="Voltage_Red">
	{$Voltage_Red_editcontrol}
	</control>
	<control field="Voltage_Blue">
	{$Voltage_Blue_editcontrol}
	</control>
	<control field="Voltage_Yellow">
	{$Voltage_Yellow_editcontrol}
	</control>
	<control field="Currunt_Red">
	{$Currunt_Red_editcontrol}
	</control>
	<control field="Currunt_Blue">
	{$Currunt_Blue_editcontrol}
	</control>
	<control field="Currunt_Yellow">
	{$Currunt_Yellow_editcontrol}
	</control>
	<control field="PF_Red">
	{$PF_Red_editcontrol}
	</control>
	<control field="PF_Blue">
	{$PF_Blue_editcontrol}
	</control>
	<control field="PF_Yellow">
	{$PF_Yellow_editcontrol}
	</control>
	<control field="Peak_Power">
	{$Peak_Power_editcontrol}
	</control>
	<control field="Date_Time">
	{$Date_Time_editcontrol}
	</control>
	<control field="IsSync">
	{$IsSync_editcontrol}
	</control>
	<control field="Currunt_Readings">
	{$Currunt_Readings_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>